@import "tailwindcss";

@theme {
    --color-tertiary-fixed: #65fde6;
    --color-surface-container-low: #091328;
    --color-on-primary: #005762;
    --color-surface-container: #0f1930;
    --color-on-primary-container: #004d57;
    --color-on-background: #dee5ff;
    --color-on-secondary: #33005b;
    --color-on-primary-fixed: #003840;
    --color-on-secondary-fixed-variant: #7511c3;
    --color-tertiary-fixed-dim: #54eed8;
    --color-surface-bright: #1f2b49;
    --color-primary-container: #00e3fd;
    --color-surface-container-high: #141f38;
    --color-tertiary-dim: #48e5d0;
    --color-on-primary-fixed-variant: #005762;
    --color-on-tertiary: #00685c;
    --color-surface-container-lowest: #000000;
    --color-surface-dim: #060e20;
    --color-outline: #6d758c;
    --color-surface-variant: #192540;
    --color-secondary-dim: #9c48ea;
    --color-on-error-container: #ffa8a3;
    --color-surface: #060e20;
    --color-secondary-fixed-dim: #dbb4ff;
    --color-surface-container-highest: #192540;
    --color-inverse-surface: #faf8ff;
    --color-on-secondary-fixed: #4f0089;
    --color-surface-tint: #81ecff;
    --color-on-secondary-container: #e9cdff;
    --color-inverse-primary: #006976;
    --color-secondary-container: #6f00be;
    --color-on-error: #490006;
    --color-background: #060e20;
    --color-error-container: #9f0519;
    --color-on-tertiary-fixed: #004a41;
    --color-primary-fixed: #00e3fd;
    --color-tertiary-container: #65fde6;
    --color-outline-variant: #40485d;
    --color-primary-fixed-dim: #00d4ec;
    --color-on-tertiary-fixed-variant: #00695e;
    --color-secondary: #c180ff;
    --color-on-surface-variant: #a3aac4;
    --color-tertiary: #c6fff3;
    --color-on-surface: #dee5ff;
    --color-secondary-fixed: #e5c6ff;
    --color-inverse-on-surface: #4d556b;
    --color-primary: #81ecff;
    --color-error: #ff716c;
    --color-error-dim: #d7383b;
    --color-on-tertiary-container: #005e54;
    --color-primary-dim: #00d4ec;

    --font-headline: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Manrope", sans-serif;
}
